:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.4s linear;
  --logoSpacing: 0.3rem;
    --primarySelect: #f05123;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: 'Faustina', serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f3f5f6;
  overflow-x: hidden;
}

::selection{
  background-color: var(--primarySelect);
  color: #fff;
}

a {
  text-decoration: none;
}

.main {
  min-height: calc(100vh);
  background: url(/images/background-1.png) center/cover no-repeat;
  border-bottom: 1px solid #e1e3e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  font-family: 'Tasman'; /*Cambria Math, Chalemagne Std, Curlz MT*/
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner__title {
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  color: transparent;
  background-image: linear-gradient(
      to right bottom,
      #8c52ff,
      #E67E22
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.banner__btn {
  font-weight: bold;
  padding: 1rem 4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  border-radius: 3px;
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner__btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.banner__btn:active {
  background: var(--purple);
}