:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.4s linear;
  --logoSpacing: 0.3rem;
    --primarySidebar: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: 'Faustina', serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}


.main {
  min-height: calc(100vh);
  background: url(/images/background-1.png) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media screen and (max-width: 400px){
  .main{
    min-width: 500px;
  }
} */
.banner {
  font-family: 'Chalemagne Std'; /*Cambria Math, Chalemagne Std, Curlz MT*/
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner__title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner__btn {
  font-weight: bold;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner__btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.banner__btn:active {
  background: #7873f5;
}