:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.4s linear;
  --logoSpacing: 0.3rem;
    --primarySidebar: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: 'Faustina', serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
};
.active{
  cursor: pointer;
}
.cart__overlay {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 10000;
  visibility: hidden;
}
.cart {
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  overflow: scroll;
  z-index: 10000;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.cart__btn {
  position: relative;
  cursor: pointer;
  color: #8c52ff;
  font-size: 30px;
}
.cart__items {
  position: absolute;
  top: 0px;
  font-size: 0.85rem;
  right: -8px;
  background: var(--purple);
  padding: 0 5px;
  border-radius: 20%;
  color: var(--mainWhite);
}
.cart__btn:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
 
.close__cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.close__cart:hover{
  color: red;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart__item img {
  width: 75px;
  height: 75px;
}
.cart__item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart__item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item__amount {
  text-align: center;
}
.remove__item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart__footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart__footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}