:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.4s linear;
    --logoSpacing: 0.3rem;
      --primarySidebar: #08aeea;
      --secondary: #13D2B8;
      --purple: #bd93f9;
      --pink: #ff6bcb;
      --blue: #8be9fd;
      --gray: #333;
      --font: 'Faustina', serif;
      --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
      --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
};

/* --------------- Products ---------------- */

.products {
  font-weight: lighter;
  padding: 4rem 0;
}

.product .section__title h2 {
  font-family: 'Curlz MT';
  font-weight: 900;
    left: 2rem;
    right: 2rem;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    margin: 7rem 0 3rem 0;
    text-transform: capitalize;
    letter-spacing: 5px;
}
.products__center {
  width: 89vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.product__img {
  display: block;
  width: 100%;
  min-height: 10rem;
  transition: var(--mainTransition);
  border-radius: 2px;
}
.product h3 {
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  text-transform: capitalize;
}
.product h4 {
  margin-top: 0.4rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  font-size: 1rem;
}

.img__container {
  position: relative;
  overflow: hidden;
}

.bag__btn {
  font-size: 0.7rem;
  font-family: 'Tasman';
  font-weight: 600;
  bottom: 20%;
  right: 0;
  background: var(--primaryColor);
  border: 3px solid wheat;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  position: absolute;
}

.bag__btn:hover {
  color: var(--mainWhite);
}
  
.img__container:hover .bag__btn {
  transform: translateX(0);
}

.img__container:hover .product__img {
  opacity: 0.6;
}
  
.name__item{
  font-size: 1.28rem;
  letter-spacing: 0.09rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0.7rem;
}
  
.title{
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.07rem;
}

.remove__item{
  font-size: 1rem;
}

.remove__item:hover{
  color: crimson;
}
  
  /* ---------------End of Products ---------------- */