/* Custome Scroll-bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #FDFEFE;
}

body::-webkit-scrollbar-thumb {
    background-color: #BDC3C7;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #909497;
}