html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* body {
  margin: 0!important;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient( 109.6deg,  rgba(17,151,147,1) 11.2%, rgba(154,214,212,1) 55.4%, rgba(255,233,171,1) 100.2% );
}

.title {
  text-align: center;
  margin-top: 50px;
}

.title span{
  font-family: 'Anton', 'sans-serif';
  color: white;
  text-shadow: 0 0 5px #333;
  font-size: 46px;
  letter-spacing: 2px;
  border-bottom: 4px solid rgba(90,92,106,1);
} */

.scroll {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: -100px;
  border-radius: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(187, 143, 206) 0%, rgb(52, 152, 219) 81.3% );
  color: #fff;
  font-size: 25px;
  text-align: center;
  box-shadow: 0 0 5px 0px #888;
  transition: 900ms;
}

.scroll i {
  margin-top: 12px;
  text-shadow: 0 0 10px #fff;
}

.scroll:hover i {
  animation-name: rotate;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {margin-top: 15px}
    to {margin-top: 5px}
}

.visible {
  right: 30px;
  transition: all 900ms;
  transform: rotate(360deg)
}